[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "btergm"]
	path = btergm
	url = https://github.com/leifeld-lab/btergm
[submodule "texreg"]
	path = texreg
	url = https://github.com/leifeld-lab/texreg
